<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mappers.ShoppingCartMapper" >

    <!-- 해당 유저의 장바구니 모든 정보 가져오기   -->
    <select id="get_shopping_cart" resultType="com.shop.dto.shopping.ShoppingCartDTO">
        SELECT * FROM `shopping_cart` WHERE `user_id` = #{user.id}
        <if test="orderNums != null" >

        </if>
    </select>

    <!-- 장바구니에 상품 추가   -->
    <insert id="insert_shopping_cart" parameterType="com.shop.dto.shopping.ShoppingCartDTO">
        INSERT INTO `shopping_cart` VALUES (NULL, #{user.id}, #{product.no}, 1)
    </insert>

    <!-- 장바구니의 한 상품의 옵션 추가   -->
    <insert id="insert_shopping_cart_option" parameterType="com.shop.dto.shopping.ShoppingCartDTO">
        <selectKey keyProperty="no" order="BEFORE" resultType="int">
            SELECT LAST_INSERT_ID();
        </selectKey>
        INSERT INTO `shopping_cart_option` VALUES
        <foreach collection="product.productOptions" item="options" separator=",">
            (NULL, #{no}, #{options.no})
        </foreach>
    </insert>

    <!-- 장바구니에 상품 개수 수정 -->
    <update id="change_product_amount" >
        update shopping_cart set amount = #{amount} where user_id=#{user.id} and no=#{no};
    </update>

    <!-- 장바구니에 상품 제거 -->
    <delete id="delete_product" >
        delete from shopping_cart where user_id=#{user.id} and no=#{no}
    </delete>

    <delete id="delete_cart_by_no" >
        delete from shopping_cart where user_id=#{userId} and no=#{cartNo}
    </delete>

    <!-- 유저정보로 장바구니 조회 -->
<!--    <select id="get_shopping_cart_by_user" resultType="com.shop.dto.product.ProductDTO">-->
<!--        SELECT p.*  FROM shopping_cart c-->
<!--        left outer join shopping_cart_option co on c.no = co.shopping_cart_no-->
<!--        inner join product p on c.product_no = p.no-->
<!--        where c.user_id = #{id};-->
<!--    </select>-->

    <resultMap id="get_shopping_cart_result_map" type="com.shop.dto.shopping.ShoppingCartDTO" autoMapping="true">
        <id property="no" column="sc_no" />
        <result property="amount" column="c_amount" />
        <association property="product" javaType="com.shop.dto.product.ProductDTO" >
            <id property="no" column="p_no" />
            <result property="title" column="p_title" />
            <result property="price" column="p_price" />
            <result property="deliveryPrice" column="p_de_price" />
            <result property="mainImg" column="p_img" />

            <collection property="productOptions" ofType="com.shop.dto.product.ProductOptionDTO" javaType="list" >
                <id property="no" column="po_no" />
                <result property="name" column="po_name" />
            </collection>

        </association>



    </resultMap>


    <select id="get_shopping_cart_by_user" resultMap="get_shopping_cart_result_map" >
        SELECT
        c.no as sc_no,
        c.amount as c_amount,
        po.no as po_no,
        p.no as p_no,
        p.`title` as p_title,
        p.`price` as p_price,
        p.`delivery_price` as p_de_price,
        p.`main_img` as p_img,
        po.`name` as po_name
        FROM shopping_cart c
        left join shopping_cart_option co
        on c.no = co.shopping_cart_no
        inner join product p
        on c.product_no = p.no
        left outer join product_option po
        on co.product_option_no = po.no
        where c.user_id = #{user.id}
        <if test="orderNums != null" >
            and c.no in
            <foreach collection="orderNums" open="(" close=")" item="no" separator="," >
                #{no}
            </foreach>
        </if>
    </select>




    <resultMap id="my_page_resultMap" type="com.shop.dto.shopping.ShoppingCartDTO" autoMapping="true" >
        <id property="no" column="sc_no" />
        <association property="product" javaType="com.shop.dto.product.ProductDTO" autoMapping="true">
            <id property="no" column="product_no" />
            <collection property="productOptions" javaType="list" ofType="com.shop.dto.product.ProductOptionDTO"  autoMapping="true">
                <result property="no" column="po_no" />
            </collection>
        </association>
    </resultMap>

    <select id="select_cart_list_by_cartNo" resultMap="my_page_resultMap" >
        SELECT
            *,
            sc.no as sc_no,
            sco.no as sco_no,
            po.no as po_no
        FROM shopping_cart sc
            inner join product p
            on p.no = sc.product_no
            left outer join shopping_cart_option sco
            on sc.no = sco.shopping_cart_no
            left outer join product_option po
            on sco.product_option_no = po.no;
<!--        SELECT *, sc.no as sc_no, sco.no as sco_no FROM shopping_cart sc left outer join shopping_cart_option sco on sc.no = sco.shopping_cart_no;-->
<!--        <trim prefix="where" prefixOverrides="and | or">-->
<!--            <foreach collection="list" item="no" separator="or">-->
<!--                sc.no=#{no}-->
<!--            </foreach>-->
<!--        </trim>-->
    </select>


</mapper>