<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>password</title>
</head>
<body>
    <h2>비밀번호 재설정</h2>
    <form action="/user/password_request" method="post">
        <input type="hidden" th:name="pwReToken" th:value="${token}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="password" th:name="password" placeholder="비밀번호 입력"> <br>
        <input type="submit" value="전송" style="margin: 10px 0;">
    </form>
</body>
</html>