<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>Title</title>
<!--    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>-->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>

<body>

</body>
<script>
    IMP.init('imp07007375')
    const csrfToken = document.querySelector('meta[name=_csrf]').content;

    pre_order_request()
    // 사전 검증 (사전등록) 시도
    function pre_order_request() {
        const formData = new FormData();
        const merchant_uid = crypto.randomUUID();
        // const amount = 5454;
        formData.set("merchant_uid", crypto.randomUUID());
        formData.set("amount", 5345);


        fetch(`order/payment/pre-verification`, {
            method: 'post',
            headers: {'X-Csrf-Token':csrfToken},
            body:formData
        }).then(resp => {
            if (resp.ok && resp.status === 201) {
                request_order(merchant_uid);
            } else {
                alert('다시 시도하셈');
            }
        })
    }

    function request_order (merchant_uid) {
        IMP.request_pay({
            pg: "kakaopay.imp07007375",
            merchant_uid: merchant_uid,   // 주문번호
            name: "테스트용",
            amount: 1004,                         // 숫자 타입
            buyer_email: "test@gmail.com",
            buyer_name: "구매자이름",
            buyer_tel: "010-4242-4242",
            buyer_addr: "서울특별시 강남구 신사동",
            buyer_postcode: "01181"
        }, order_request_result());
    }

    function requestPay() {
        IMP.request_pay({
            pg: "kakaopay.{상점ID}",
            pay_method: "card",
            merchant_uid: "ORD20180131-0000011",   // 주문번호
            name: "노르웨이 회전 의자",
            amount: 64900,                         // 숫자 타입
            buyer_email: "gildong@gmail.com",
            buyer_name: "홍길동",
            buyer_tel: "010-4242-4242",
            buyer_addr: "서울특별시 강남구 신사동",
            buyer_postcode: "01181"
        }, function (rsp) { // callback

        });
    }

    function order_request_result(response) {

    }

</script>
</html>